dist-newstyle/
dist/
.cabal-sandbox/
cabal.sandbox.config
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-prelude
cabal.project.local
cabal.project.local~
.ghc.environment.*
*.exe
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
*~
